/* GENERAL */

/* rgb(255, 89, 90); rojito
rgb(239, 224, 202); amarillito
#001233; azul */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;

  background-color: aliceblue;
  box-sizing: border-box;
  letter-spacing: 1.5;
}

/* END OF GENERAL */

/* NAVBAR */
/* END OF NAVBAR */

/* HEADER */
.container {
  width: 120rem;
  margin: 0 auto;
}

header {
  background-color: #000e29;
  padding-bottom: 35rem;
}

nav {
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: rgb(239, 224, 202);
  font-size: 1.4rem;
  padding: 0.8rem;
  transition: all 1s;
}

nav a:hover {
  color: rgb(255, 89, 90);
}

.svg-cart {
  width: 2rem;
}

.hero-img {
  margin-top: 5rem;
  width: 60rem;
  height: 50rem;
}

.header-text {
  font-size: 7rem;
  color: rgb(255, 89, 90);
  display: flex;
  flex-direction: column;
  align-self: center;
}

.head-container {
  display: flex;
  gap: 2rem;
}

.header-info {
  margin-bottom: 5rem;
}

.header-paragraph {
  font-size: 2rem;
  color: rgb(239, 224, 202);
}

.btn-header {
  background-color: rgb(255, 89, 90);
  padding: 1.5rem 2rem;
  margin-top: 4rem;
  text-decoration: none;
  font-size: 2rem;
  color: rgb(239, 224, 202);
  border-radius: 15px;
  transition: all 1s;
}

.btn-header:hover {
  background-color: rgb(255, 57, 57);
}

/* END OF HEADER */

/* SIGN UP */

.sign-container {
  background-color: aliceblue;
  height: 94rem;
  margin-top: 15rem;
}
.sign-text {
  color: #000e29;

  padding-top: 15rem;
  font-size: 3rem;
  margin-bottom: 10rem;
}

.center-text {
  text-align: center;
}

.img-bg {
  text-align: center;
  width: 130rem;
  height: 70rem;
  background-image: url(img/sign.jpg);
  background-size: cover;
}

.img-text-header {
  padding-top: 5rem;
  font-size: 2rem;
  color: aliceblue;
}

.img-text {
  width: 35rem;
  height: 35rem;
  padding-top: 5rem;
  padding-left: 5rem;
  text-align: left;
}

.img-text p {
  font-size: 1.5rem;
  color: aliceblue;
}

.img-text a {
  padding: 2rem 2.5rem;
  background-color: #000e29;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.5rem;
  color: aliceblue;
  font-weight: bold;
  transition: all 1s;
}

.img-text a:hover {
  background-color: #033292;
}
/* END OF SIGN UP */

/* INFO SECTION */

.info-section {
  background-color: aliceblue;
  margin-top: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 110rem;
  margin: 0 auto;
  column-gap: 2rem;
  row-gap: 2rem;
  box-sizing: border-box;
  margin-bottom: 30rem;
}

.z-img {
  width: 65rem;
  height: 45rem;
}

.text-grid {
  align-items: center;
  justify-content: center;
  text-align: left;
}

.text-grid h3 {
  font-size: 2rem;
  color: #000e29;
}

.text-grid li {
  font-size: 1.5rem;
}

/* END OF INFO SECTION */

/* FOOTER */
footer {
  background-color: #000e29;
  padding-top: 12rem;
  height: 35rem;
  text-align: center;
}

.footer {
  width: 100rem;
  margin: 0 auto;
}

footer p {
  color: rgb(239, 224, 202);
  font-size: 1.5rem;
}

.footer-heading {
  font-size: 2rem;
  color: rgb(255, 57, 57);
}

footer i {
  width: 4rem;
  color: aliceblue;
}
/* END OF FOOTER */
